html {
  margin: 0 auto;
  background-color: rgb(243, 241, 234);
  font-size: 18px;
  display: inline-block;
  /* text-align: center; */
}
.container {
  margin: 0 auto;
  max-width: 80%;
  /* text-align: center; */
}
h2 {
  font-size: 30px;
  line-height: normal;
  color: #b22222;
}

h3 {
  font-size: 20px;
  line-height: normal;
  color: #179c06;
}

a {
  text-decoration: none;
  color: black;
}
.photo {
  display: flex;
}

.my_photo {
  max-width: 200px;
  margin-right: 20px;
}

.logo {
  width: 5em;
  border: 1px solid black;
  float: right;
  bottom: 0;
  right: 0;
}
.myGit {
  color: #b22222;
}

article {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
